:root {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: brown;
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(216, 219, 195);
}

/* Heading & Basic Text style */
h1, h2, h3, table {
    font-family: cursive, arial, sans-serif;
    text-align: center;
}

h2 , .header {
    border-bottom: 2px double brown;
}

h3 {
    border-bottom: 1px solid brown;
}

.header {
    background-color: rgb(211, 219, 163);
    height: 7.5vh;
    align-items: center;
}

.todo {
    margin: 2.5rem 25vw 0 25vw;
    background-color: linen;
    border: 2px solid brown;
}

.todo li {
    margin-left: 2rem;
    margin-right: 2rem;
}

.todo li, img {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

/*Table Style*/
table {
    background-color:linen;
    border: 2px solid brown;
}

td {
    height: 25px;
    width: min(20vw,150px);
    border-right: 1px solid brown;
    border-left: 1px solid brown;
    border-top: 1px solid brown;
}

.tbl-top td {
    border-top: 1px solid brown;
}

.tbl-bottom td{
    border-bottom: 1px solid brown;
    padding: 10px 0 1rem 0;
}

/*Image Style*/
img {
    border-radius: 5%;
    border:2px solid brown;
}

/*Nav Bar Style*/
a {
    background-color: linen;
    color: brown;
    text-decoration: none;
    border: 2px solid black;
    padding: 0.5rem 1rem;
}

a:hover {
    background-color: rgb(211, 219, 163);
    color: rgb(238, 59, 59)
}

.nav, .header, .image, .table {
    display: flex;
    justify-content: center;
}

.button {
    margin-top: 2rem;
    list-style: none;
}

.button:hover {
    transform: scaleX(1.05) scaleY(1.05);
}

